local*
.ipynb_checkpoints
.python-version
data/
data_results/
.env
*.log
localtestharness.txt
*.so
.vs
.vscode
.Rproj.user
.Rproj
.pyc
.Renviron
.Rprofile
.RHistory
**/packrat/lib*/
**/packrat/src/
**/packrat/bundles/
__pycache__/
*.pkl
*.edgelist
*.egg-info/
.ftpconfig
.ftpignore
